global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend k8s-api
    bind *:16443
    default_backend k8s-api-backend

backend k8s-api-backend
    balance roundrobin
    option tcp-check
    server ci-cp1 192.168.122.140:6443 check
    server ci-cp2 192.168.122.74:6443 check
    server ci-cp3 192.168.122.126:6443 check
